.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: keep-all;
  margin: 0 auto;
  margin-top: 100px;
}

.loginForm {
  padding-top: 100px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.submit {
  padding-left: 80px;
}

.submitBtn {
  width: 500px;
  margin-bottom: 20px;
  text-align: center;
  right: 0px;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: keep-all;
    background-color: #f5f5f5;
  }

  .loginForm {
    padding-top: 100px;
    max-width: 600px;
    width: 100%;
  }

  .submit {
    padding-left: 0px;
    right: 0px;
  }

  .submitBtn {
    width: 100%;
  }
}
