.container {
  padding-left: 10%;
  padding-right: 10%;
  min-height: calc(83vh);
  word-break: break-all;
}
.lists {
  margin-bottom: 3%;
}

.workplaceImg {
  position: relative;
  top: 0;
  left: 0;
  width: 85%;
  height: 85%;
  text-align: center;
  margin: 0px auto;
  display: block;
}
