.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: break-all;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: break-all;
    margin: 0 auto;
    background-color: #f5f5f5;
  }
}
.datagrid {
  height: 480px;
  width: 100%;
  background-color: white;
}

.datagrid_item {
  cursor: pointer;
}
