.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: break-all;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: break-all;
    margin: 0 auto;
    background-color: #f5f5f5;
  }
}

.inner_text {
  padding-left: 3%;
}

.contents font {
  line-height: 0.5em;
}

font {
  white-space: pre-line;
}
