.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: keep-all;
  margin: 0 auto;
}

.ls {
  float: left;
}

.rs {
  min-height: 100vh;
  padding-left: 180px;
}

.paper {
  margin-bottom: 3%;
  padding: 2%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: keep-all;
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-top: -500px;
  }
}

.index {
  margin-left: -20px;
  width: 100px;
  text-align: center;
}

.contents {
  width: 100%;
}

.buttons {
  width: 180px;
  text-align: center;
}
