.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  min-height: calc(83vh);
  word-break: break-all;
}

.paper {
  /* padding: 10%; */
  margin-top: 1%;
  margin-bottom: 1%;
}

.title {
  padding-left: 5%;
  font-size: 1.3em;
}

.paper div {
  padding-left: 5%;
}
