.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: keep-all;
  margin: 0 auto;
}

.ls {
  float: left;
}

.rs {
  min-height: 100vh;
  /* width: 80vw; */
  padding-left: 180px;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: keep-all;
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-top: -500px;
  }
}
.datagrid {
  width: 100%;
}

.datagrid_item {
  cursor: pointer;
}

.paper {
  padding: 20px;
}

.title_row {
  height: 30px;
}

.table_row {
  cursor: pointer;
  /* height: 50px; */
}

.table_ {
  width: 100%;
  margin: 10px;
  border-collapse: collapse;
}

.table_th {
  border-bottom: 1px solid #d3d3d3;
  font-size: 1.7em;
  padding-bottom: 20px;
}

.table_td_1 {
  /* border-bottom: 1px solid #444444; */
  text-align: right;
  font-size: 0.9em;
  padding: 10px 15px 40px 0px;
}

.table_td_1_write {
  text-align: right;
  font-size: 0.9em;
  padding: 10px 0px 0px 0px;
}

.table_td_2 {
  border-bottom: 1px solid #444444;
  padding-bottom: 30px;
  width: 100%;
}

.list {
  margin: 70px 10px 0px 10px;
}

.prev_next_btn {
  color: #2f5597;
  padding-right: 20px;
}

.list_item:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.listIcon {
  float: right;
  margin: 5px 10px 30px 0px;
  cursor: pointer;
  color: white;
  background-color: #808080;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
}
