.footer {
  width: 100%;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: "Noto Sans KR", sans-serif;
}

.quick_menu {
  padding-left: 100px;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  .row {
    margin-left: -48px;
  }

  .copyright {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 0.9em;
    color: #808080;
  }
}

.menu {
  cursor: pointer;
}

.verticlebar {
  padding-left: 8px;
  padding-right: 8px;
  color: #d3d3d3;
}

.content {
  padding-top: 3px;
  padding-bottom: 3px;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
}

.copyright {
  padding-top: 20px;
  font-size: 0.9em;
  color: #808080;
}

.bottom_box {
  background-color: #0b0a29;
  color: white;
  padding: 25px;
  padding-left: 40px;
  font-size: 1.1em;
  cursor: pointer;
}

.menuItem {
  height: 50px;
  font-size: 1.1em;
}

.menuItem a {
  text-decoration: none;
  font-size: 1.1em;
}

.plusIcon {
  float: right;
  padding-top: 7px;
}
