.footer {
  /* text-align: center; */
  width: 100%;
  /* background-color: #f5f5f5; */
  /* background-color: #04162a; */
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 5px;
}

.quick_menu {
  padding-left: 100px;
  padding-bottom: 30px;
}

.menu {
  cursor: pointer;
}

.verticlebar {
  padding-left: 8px;
  padding-right: 8px;
  color: #d3d3d3;
}

.content {
  padding-top: 3px;
  padding-bottom: 3px;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
}

.copyright {
  padding-top: 20px;
  font-size: 0.9em;
  color: #808080;
}

.bottom_box {
  background-color: #04162a;
  color: white;
  padding: 25px;
  padding-left: 40px;
  font-size: 1.4em;
  cursor: pointer;
}

.menuItem {
  height: 80px;
  font-size: 1.5em;
}

.menuItem a {
  text-decoration: none;
}

.plusIcon {
  float: right;
  padding-top: 7px;
}
