.container {
  width: 1100px;
  padding-bottom: 2%;
  min-height: calc(65vh);
  word-break: break-all;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: break-all;
    margin: 0 auto;
    background-color: #f5f5f5;
  }
}

.contents {
  padding-left: 10px;
  padding-right: 10px;
}

.out_row {
  padding-top: 10px;
}

.paper_upper {
  height: 530px;
  padding-top: 10px;
  padding-left: 30px;
  overflow: auto;
  margin-bottom: 30px;
}

.pb_ul {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.paper {
  margin-bottom: 3%;
  padding: 2%;
  overflow-x: hidden;
  overflow-y: auto;
}
.font1 {
  font-size: 1em;
  font-weight: bold;
}

.ls {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 3%;
}

.title {
  color: #2f5597;
  padding-top: 3%;
}

.text1 {
  font-weight: bold;
}

.text2 {
  padding-top: 3%;
  padding-right: 3%;
  font-weight: bold;
  color: #ee8438;
  float: right;
}

.contents {
  padding-top: 50px;
  margin-left: -5%;
}

.contents li {
  padding-bottom: 3%;
}
