.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  min-height: calc(83vh);
  word-break: break-all;
}

.contents {
  padding-left: 5%;
  padding-right: 5%;
}

.paper {
  margin-top: 1%;
  margin-bottom: 1%;
}
